@model List<State>


<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                State List
            </h2>
        </div>
    
        <div class="col-6 text-end">
            <button id="createBtn" class="btn btn-primary">Create New State</button>
        </div>
    </div>
</div>

<table class="table table-bordered table-stripped" style="width:100%">
    <thead>
        <tr>
            <th>State Id</th>
            <th>State Name</th>
            <th>Country Name</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-country-id="@item.CountryId">
                <td>@item.StateId</td>
                <td>@item.StateName</td>
                <td>@item.Country.CountryName</td>
                <td>
                    <button data-country-id="@item.StateId" class="editBtn btn btn-primary">Edit</button>
                    <button data-country-id="@item.StateId" class="deleteBtn btn btn-danger">Delete</button>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    <script src="~/js/State.js"></script>
}